#header {
	position: static;
	background-color: white;
	font-family: Helvetica Neue, sans-serif;
	font-color: black;
	font-size: 275px;
	font-style: bold;
	text-align: center;
	letter-spacing: -1px;
}

#about {
	font-family: Courier New;
	font-size: 30px;
	text-align: center;

	
}

#resume {
	background-color: white;
	font-family: Courier New;
	font-size: 30px;
	text-align: center;
}

#contact {
	font-family: Courier New;
	font-size: 30px;
	text-align: center;
}



