<link rel="stylesheet" type="text/css" href="./stylesheets/homepage.css"

<head>
    <title>Catie Stallings</title
</head>

<body>

    <div class="about">
        <h1>Welcome.</h1>
        <p>
        I'm Catie Stallings and I'm an aspiring software developer. I live in suburban Chicago with my husband and cat. I recently quit my job to immerse myself in code but when I'm not doing that you can find me in the kitchen whipping up something delicious!
        </p>
    </div>

    <div class="navbar">
        <ul>
            <li><a href="FAKE LINK">about</a></li>
            <li><a target="_blank" href="/resume.pdf">resume</a></li>
            <li><a href="FAKE LINK">contact</a></li>
            <li><a target="_blank" href="https://github.com/cstallings1">GitHub</a></li>
        </ul>
    </div>

</body>
