
<link rel=stylesheet type="text/css" href="./stylsheets/hompeage.css">

<head>
	<title>Website Homepage</title>
</head>

<body bgcolor="#F8F8F8">
	<div class="header">
		<h1>welcome.</h1>
	</div>

	<div class="about">
		<p>My name is Catie Stallings and I'm an aspiring software developer. I'll be attending Dev Bootcamp in the fall and am excited (and a little nervous!) to learn about this new world. I live in Suburban Chicago with my husband and cat. I recently quit my job to immerse myself in code; but when I'm not doing that you can find me in the kitchen whipping up something delicious!
		</p>
	</div>

	<div class="resume">
	<%= link_to "Resume", asset_path("resume.pdf"), :format => :pdf %>
	</div>

</body>
